html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img, svg, button, input, textarea, select, i {
  vertical-align: middle;
}

.content {
  width: 1000px;
  height: 100%;
  background: #F9F9F9;
  margin-top: 64px;
}

